*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: black; */
    background-image: url(header.jpg);
    background-position: top;
    background-size: cover;
}

#main{
    width: 100%;
    height: 100%;
   
}

#nav{
    width: 100%;
    height: 14vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navright{
    color: #fff;
    margin-left: 7%;
    font-size: 1rem;

}

span{
    color: orangered;
}

#navleft{
    width: 30%;
    margin: 0 7px;
    font-size: 20px;
    
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    
}
#navleft a{
    color: #fff;
    text-decoration: none;
    margin-right: 25px;
    transition: 0.8s ease-in;
 

}
#navleft a:hover{
    color: orangered;
}

#topleft{
    width: 50%;
    height:125%;
    background-color: rgba(2, 19, 19, 0.911);
    display: flex;
    align-items: center;
    
    flex-direction: column;
    position: relative;
    /* justify-content: center; */
}

#topleft>h1{
    color: #fff;
    font-size: 5rem;
    width: 80%;
    margin-top: 8%;
}

#fh2{
    color: #fff;
    font-size: 2rem;
    width: 80%;
    margin-top: 2%;
    font-weight: 100;
    letter-spacing: 3px;
}

#sh2{
    color: #fff;
    font-size: 2.3rem;
    width: 80%;
    margin-top: 2%;
    font-weight: 700;
    letter-spacing: 1px;

}
#topleft>h5{
    color: orangered;
    font-size: 0.8rem; 
    width: 80%;
    margin-top: 2%;
    font-weight: 100;
    letter-spacing: 2px;


}
#sp2{
    color: orangered;
    font-weight: 700;

}

#inputbox{
    width: 68%;
    height: 3vw;
    background-color: #fff;
    margin-top: 2%;
    position: absolute;
    display: flex;
    top: 53%;
    left: 10%;

}

#inputbox>input{
    width: 85%;
    height: 100%;
    border: none;
    font-size: 17   px;
    padding: 0 10px;
}

#inputbox>button{
    background-color: orangered;
    color: #fff;
    width: 15%;
    border: none;
    height: 100%;
    font-weight: 800;
}

#topleft>p{
    color: #ffffffb6;
    position: absolute;
    top: 63%;
    left: 10%;
    width: 80%;
    margin-top: 2%;
    line-height: 30px;
}

#icons{
    width: 40%;
    height: 50px;
    background-color: transparent;
    position: absolute;
    top: 80%;
    
    display: flex;
    align-items: center;
    justify-content: left;
    /* margin-top: 5%; */
    left: 10%;

}
#icons>i{
    color:rgba(8, 78, 78, 0.541);
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 20px;
    transition: 0.8s ease-in-out;
}
#icons>i:hover{
    color: white;
    cursor: pointer;
}

@media (max-width:500px) {
    /* body{
        background-color: red;
    } */
    #nav{
        width: 100%;
        height: 10vh;
        /* background-color: red; */
    }
    #navleft{
        display: none;
    }
    #main{
        width: 100%;
        height: 100%;
       
    }
    #topleft{
        width: 100%;
        height: 100%;
    }

    #topleft>h1{
        color: #fff;
        font-size: 5rem;
        width: 80%;
        text-align: left;
        margin-top: 8%;
    }
    #inputbox{
        /* width: 100%; */
        height: 10vw;
    }
}